<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miridon Hunters Game</title>
    <link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css"  crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- Custom CSS -->
    <style>
      #firechat-wrapper {
        height: 200px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        margin: 50px auto;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 5px 25px #666;
        -moz-box-shadow: 0 5px 25px #666;
        box-shadow: 0 5px 25px #666;
      }
    </style>

  </head>
  <body class="bg">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                            
                        <button class="btn btn-default">
                            Character
                        </button> 
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Another action</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                        </ul>
                            
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-play"></em> Select & Battle!
                        </button> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="thumbnail">
                                    <dl>
                                        <dt>
                                            {{characterName}}
                                        </dt>
                                        <dd>
                                            {{characterBio}}
                                        </dd>
                                        <br>
                                        <dd>
                                            <strong>Class: </strong>{{characterClass}}
                                        </dd>
                                        <dd>
                                            <strong>Strength: </strong>{{characterStrength}}
                                        </dd>
                                        <dd>
                                            <strong>Speed: </strong>{{characterSpeed}}
                                        </dd>
                                        <dd>
                                            <strong>Author: </strong>{{characterAuthor}}
                                        </dd>
                                    </dl> 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-600-1.jpg" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default">
                        Select & Battle!
                    </button>
                </div>
            </div>
            <div id="firechat-wrapper"></div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="/assets/js/game.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAN2-g_79raqf9zPv7MXOOa2GDofvSt6qk",
        authDomain: "miridon-hunters.firebaseapp.com",
        databaseURL: "https://miridon-hunters.firebaseio.com",
        projectId: "miridon-hunters",
        storageBucket: "miridon-hunters.appspot.com",
        messagingSenderId: "948005463087"
      };
      firebase.initializeApp(config);
    </script>
    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    <script>
        function initChat(user) {
            // Get a Firebase Database ref
            var chatRef = firebase.database().ref("chat");
        
            // Create a Firechat instance
            var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));
            console.log("About to chat");
            // Set the Firechat user
            chat.setUser(user.uid, "Anna");
        }

        firebase.auth().createUserWithEmailAndPassword("aylatrigger@yahoo.com", "password").catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // ...
        });

        firebase.auth().signInWithEmailAndPassword("aylatrigger@yahoo.com", "password").catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // ...
        });

        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                user["displayName"] = "Anna";
                console.log(user);
                console.log(user.emailVerified);
                initChat(user);
                // ...
            } else {
                // User is signed out.
                // ...
            }
            // ...
        });
        var anna = {
            uid: 112053710,
            displayName: "Anna"
        }
    </script>
  </body>
</html>