<div class="row">
    <div class="col-md-offset-1 col-md-4">
        {{> character-battle-block player}}
    </div>
    <div class="col-md-offset-2 col-md-4">
        {{> character-battle-block enemy}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Actions</h3>
        {{> battle/action}}
        <div id="comments">
            <p>
                Choose your actions for the round (one of each).
            </p>
        </div>
    </div>
</div>