{{> layout/header}}
<div class="row">
    <div class="col-md-8">
        <form role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="Name" class="form-control" id="name"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-default">
                            Class
                        </button> 
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="classDropdown">
                            <li>
                                {{#each Class}}
                                    <a href="#" value={{class_id}}>{{class_name}}</a>
                                {{/each}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Character Description" id="description"></textarea>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="submit">
            Submit Character
        </button>
    </div>
</form>

    <div class="col-md-4">
        <div class="thumbnail">
            {{!-- <img id="avatar" alt="Bootstrap Thumbnail First" src="{{imageUrl}}"/> --}}

            <img id="avatar" alt="Bootstrap Thumbnail First" src="https://vignette.wikia.nocookie.net/yandere-simulator-fanon/images/2/2b/HuskPortNew.png/revision/latest?cb=20160708141201
https://vignette.wikia.nocookie.net/yandere-simulator-fanon/images/2/2b/HuskPortNew.png/revision/latest?cb=20160708141201">


            <div class="caption form-group">
                <label class="btn btn-primary btn-file">
                        Add New Image <input type="file" style="display: none;">
                </label>
                <label for="exampleInputFile">
                        {{newImageName}}
                </label>
                <p class="help-block">
                    Please add an image 600px by 600px.
                </p>
            </div>
        </div>                    
    </div>
</div>
{{> layout/footer}}

{{!-- added ids to manually grab values to add to the table
      ***problems stil facing ****
      - upon class select the page refreshes
      - still have problem adding data to table  
 --}}