<ul class="nav nav-tabs">
      <li >
        <a href="/">Home</a>
    </li>
    <li class="active">
        <a href="/profile">Profile</a>
    </li>
    <li>
        <a href="/generator">Create a Character</a>
    </li>
    <li>
        <a href="/characterselect">Select a Character</a>
    </li>
    <li>
        <a href="/battle">Battle</a>
    </li>
</ul>
<div class="page-header">
    <h1>
        Miridon Hunters RPG <small>{{page_title}}</small>
    </h1>
</div>