<ul class="nav nav-tabs">
    <li >
        <a href="/">Login</a>
    </li>
    <li>
        <a href="/profile">Profile</a>
    </li>
    <li>
        <a href="/generator">Create a Character</a>
    </li>
    <li>
        <a href="/characterselect">Select a Character</a>
    </li>
    <li>
        <a href="/battle">Battle</a>
    </li>
</ul>
<div class="page-header">
    <h3>
        Miridon Hunters RPG <small>{{page_title}}</small>
    </h3>
</div>