<div class="input-group">
    <span class="input-group-addon">{{name}}</span>
    <input class="form-control" aria-label="Amount" type="number" value="{{defaultValue}}">
    <span class="input-group-addon">Points Used: {{pointCost}}</span>
</div>